:root{
    --backWidth: 60px;
    --backHeight: calc(var(--backWidth)/2);
    --circleDiam: calc(var(--backHeight)*0.7);
    --backColor : #988BAD;
    --behindCircleColor : rgba(243, 242, 242, 0.424);
    --buttonColor: #cce6f4;
}


.back{
    position: relative;
    margin: 10px;
    min-width: var(--backWidth);
    width: var(--backWidth);
    height: var(--backHeight);
    border-radius: calc(var(--backHeight)/2);
    background: var(--backColor);

    
}
.behindCircle{
    position: absolute;
    border-radius: calc(var(--circleDiam)/2); ;
    width: calc(var(--backWidth) - calc((var(--backHeight) - var(--circleDiam))));
    top: calc((var(--backHeight) - var(--circleDiam))/2);
    height: var(--circleDiam);
    left: calc((var(--backHeight) - var(--circleDiam))/2);
    background:var(--behindCircleColor);
}
.circleCenter{
    position: absolute;
    border: none;
    appearance: none;
    padding: 0;
    margin: 0;
    /* position DROITE  */
    /* left: calc(var( --backWidth) - var(--circleDiam) - 3px); */
    /* position Gauche  */
    /* top: calc((var(--backHeight) - var(--circleDiam))/2); */
    height: var(--circleDiam);
    width: var(--circleDiam);
    border-radius: calc(var(--circleDiam)/2);
    background: var(--buttonColor);
}

/* ANim */

.circleCenter.checked{
    transform: translateX(30px);
    animation: switch 2s linear reverse;
    background: rgb(43, 226, 165);
    /* left:30px; */
}



